*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* NAVBAR */
nav{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
z-index:1000;
}

nav h2{
color:#ffcc00;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:#ffcc00;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
animation:fadeIn 2s ease-in;
}

.hero h1{
font-size:50px;
}

.hero span{
color:#ffcc00;
}

.hero p{
margin:20px 0;
opacity:0.8;
}

.btn{
padding:12px 25px;
border:none;
background:#ffcc00;
color:black;
font-weight:bold;
border-radius:25px;
cursor:pointer;
transition:0.3s;
text-decoration:none;
}

.btn:hover{
background:white;
transform:scale(1.1);
}

/* SECTION */
section{
padding:100px 20px;
text-align:center;
}

.skills span{
display:inline-block;
margin:10px;
padding:10px 20px;
background:white;
color:black;
border-radius:20px;
transition:0.3s;
}

.skills span:hover{
background:#ffcc00;
transform:scale(1.1);
}

.project{
background:rgba(255,255,255,0.1);
margin:20px auto;
padding:20px;
border-radius:15px;
width:80%;
transition:0.3s;
}

.project:hover{
transform:translateY(-10px);
background:rgba(255,255,255,0.2);
}

footer{
padding:20px;
background:black;
}

/* ANIMATION */
@keyframes fadeIn{
from{opacity:0; transform:translateY(50px);}
to{opacity:1; transform:translateY(0);}
}

/* RESPONSIVE */
@media(max-width:768px){
.hero h1{
font-size:35px;
}
nav{
padding:15px 20px;
}
.project{
width:95%;
}
}
